/*                  color for header and footer also for the bg of cards*/
/*                  bg color of the "n"-logo also for most buttons*/
/*                 bright-green color for the main explore-btn*/
/*                  bg-color of the vegetables card on the "explore-page"*/
/*                    bg-color of "tip-card" on recipe site */
/*                button color of tip-card    */
/*                      used on headers*/
/* changed bootstrap classes below here */
.background-main {
  background-color: #c3edc3;
  color: #8f8f8f; }

.text-bold {
  font-weight: 700; }

.background-logo {
  background-color: #16B316; }

.btn-success {
  background-color: #16B316; }

.container {
  padding-top: 3em;
  padding-bottom: 3em; }

.btn-info {
  background-color: #16b397;
  width: 5em;
  height: 1.5em;
  margin: auto;
  font-size: 1em;
  padding: 0.1em; }

.fa-leaf {
  color: #16B316;
  font-size: 400%; }

.navbar-nav {
  font-size: 2em; }

#logo {
  width: 6em;
  height: 6em; }

/*element selectors*/
a {
  color: #16B316; }

h1 {
  padding: 0.5em; }

/* images */
.card-img-bottom {
  width: fluid;
  height: 10em; }

.fa-chevron-left, .fa-chevron-right {
  color: #c3edc3; }

/*rating box starts here*/
/*custom stuff */
.rating-box {
  background-color: #71f071; }

#nemiRating {
  padding-bottom: 1em; }
