

$color-main: #c3edc3;       /*                  color for header and footer also for the bg of cards*/
$color-main-logo: #16B316;       /*                  bg color of the "n"-logo also for most buttons*/
$color-btn-explore: #71f071; /*                 bright-green color for the main explore-btn*/

$color-input: #16B3162b; // color for text-fields

$color-card-vegi: #cfeea7;  /*                  bg-color of the vegetables card on the "explore-page"*/
$color-card-tip: #71f071; /*                    bg-color of "tip-card" on recipe site */
$color-btn-tip-more: #16b397; /*                button color of tip-card    */

$color-header: #aff2af; /*                      used on headers*/
$color-text: #8f8f8f;

$font-style:"Monserrat",sans-serif; 


/* changed bootstrap classes below here */

.background-main {
    background-color: $color-main;
    color: $color-text;
}

.text-bold {
    font-weight: 700;
}

.background-logo {
    background-color: $color-main-logo;
}

.btn-success {
    background-color: $color-main-logo;
}

.container {
    padding-top: 3em;
    padding-bottom: 3em;
}

.btn-info {
    background-color: $color-btn-tip-more;
    width: 5em;
    height: 1.5em;
    margin: auto;
    font-size: 1em;
    padding:0.1em;
    
}




// header and footer start here


.fa-leaf {
    color: $color-main-logo;
    font-size: 400%;
}

.navbar-nav {
    font-size: 2em;
}
#logo {
    width: 6em;
    height: 6em;
}



// a .btn-instagram, .btn-facebook, .btn-twitter {
//     font-weight: bold;
//     padding: 0.5em 0.25em;
//     @include font-size(4em);

// }


/*element selectors*/


a {
    color: $color-main-logo;
}

h1 {
    padding: 0.5em;
}


// inputs below here

input[type="text"], textarea[type="text"], select {
    background-color: $color-input;
}


input[type=range] {
    // -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */

  }
  
#chosenAmount {
    width: 25%;
    margin: 0 auto;
}

#newsLetter::marker {
    background-color: $color-btn-explore; // tried to make the checkbox green when clicked .... 



/* images */


.card-img-bottom {
    width: fluid;
    height: 10em;
}

.fa-chevron-left, .fa-chevron-right {
    color:$color-main;

}

/*rating box starts here*/

// .cat-img {
//     display:none;
// }

/*custom stuff */

// .cat-img {
//  // here I would like to change the radios in the Recipe card to the rating-cat.pgn
// }

//  .card-columns .card img {
//     size: 10em 8em;
// }



.rating-box {
    background-color:$color-btn-explore;
}

#nemiRating {
    padding-bottom: 1em;
}

#commentSubmit{
    width: 55%;

}