/*                  color for header and footer also for the bg of cards*/
/*                  bg color of the "n"-logo also for most buttons*/
/*                 bright-green color for the main explore-btn*/
/*                  bg-color of the vegetables card on the "explore-page"*/
/*                    bg-color of "tip-card" on recipe site */
/*                button color of tip-card    */
/*                      used on headers*/
/* changed bootstrap classes below here */
.background-main {
  background-color: #c3edc3;
  color: #8f8f8f; }

.text-bold {
  font-weight: 700; }

/*element selectors*/
a {
  color: #16B316; }

/* images */
#logo {
  width: 4rem;
  height: 4rem; }
