

$color-main: #c3edc3;       /*                  color for header and footer also for the bg of cards*/
$color-main-logo: #16B316;       /*                  bg color of the "n"-logo also for most buttons*/
$color-btn-explore: #71f071; /*                 bright-green color for the main explore-btn*/


$color-card-vegi: #cfeea7;  /*                  bg-color of the vegetables card on the "explore-page"*/
$color-card-tip: #71f071; /*                    bg-color of "tip-card" on recipe site */
$color-btn-tip-more: #16b397; /*                button color of tip-card    */

$color-header: #aff2af; /*                      used on headers*/
$color-text: #8f8f8f;

$font-style:"Monserrat",sans-serif; 


/* changed bootstrap classes below here */

.background-main {
    background-color: $color-main;
    color: $color-text;
}

.text-bold {
    font-weight: 700;
}

.background-logo {
    background-color: $color-main-logo;
}

.btn-success {
    background-color: $color-main-logo;
}

.container {
    padding-top: 3em;
    padding-bottom: 3em;
}

.btn-info {
    background-color: $color-btn-tip-more;
    width: 5em;
    height: 1.5em;
    margin: auto;
    font-size: 1em;
    padding:0.1em;
    
}

.table {
    font-size: 1em;
}

tr,th,td {
    font-size: inhirit;
}

// a .btn-instagram, .btn-facebook, .btn-twitter {
//     font-weight: bold;
//     padding: 0.5em 0.25em;
//     @include font-size(4em);

// }


/*element selectors*/

a {
    color: $color-main-logo;
}



/* images */

#logo {

    width: 4rem;
    height: 4rem;
}

.card-img {
    width: 15em;
    height: 10em;
}


/*rating box starts here*/

// .cat-img {
//     display:none;
// }
.cat-img {
    background-image: url(../img/rating-car.png);
    background-size: cover;
    background-repeat: no-repeat;
    size: 2em 2em;

    // width: 2em;
    // height: 2em;
}

.rating-box {
    background-color:$color-btn-explore;
}

#nemiRating {
    padding-bottom: 1em;
}

nav div {
    border: 0.1em solid black;
}